name: Build

on:
  workflow_dispatch:

  
permissions:
  contents: read
  packages: write 

jobs:

  build:
    uses: lucqa-it/lucqa-devops-workflows/.github/workflows/docker-build.yml@main
    with:
      image_name: ${{ github.event.repository.name }}
    secrets:
      CONTAINER_TOKEN: ${{ secrets.CONTAINER_TOKEN }}

  notify-success:
    needs: build
    if: success()
    uses: lucqa-it/lucqa-devops-workflows/.github/workflows/notify.yml@main
    with:
      status: "SUCCESS"
      sha: ${{ needs.build.outputs.sha_short }}
    secrets:
      DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}

  notify-failure:
    needs: build
    if: failure()
    uses: lucqa-it/lucqa-devops-workflows/.github/workflows/notify.yml@main
    with:
      status: "FAILED"
      sha: ${{ github.sha }}
    secrets:
      DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}